/* Extend existing styles */

.teamGameChatMessageTitle {
	/* Equal-width numeric characters for timestamps to align */
	font-variant-numeric: tabular-nums;
}

.chrome-plugin-btn {
	display: inline-block;
	padding: 2px 4px;
	border: 1px solid #538234;
	background: #71b346;
	text-decoration: none;
	color: #fff;
	margin-bottom: 5px;
	border-radius: 4px;
}
.chrome-plugin-btn:hover {
	color: #fff;
}

.chrome-plugin-challenger {
	font-size: 10px;
	margin-left: 5px;
}

.chrome-plugin-info-box {
	position: fixed;
	background: #fff;
	padding: 1rem;
	box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
	border-radius: 0.375rem;
	z-index: 1000;
}

.chrome-plugin-info-box__avatar {
	align-items: flex-start;
	border-radius: 9999px;
	box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
	display: flex;
	height: 200px;
	justify-content: center;
	overflow: hidden;
	width: 200px;
}

.chrome-plugin-info-box__empty-avatar {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(243, 244, 246);
	align-self: stretch;
	flex-grow: 1;
}

.chrome-plugin-info-box__biography {
	align-items: center;
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
	display: flex;
	font-style: italic;
	justify-content: center;
	margin-top: 0.75rem;
	max-width: 200px;
	min-height: 3.5rem;
	padding: 0.5rem 0.75rem;
	white-space: break-spaces;
	width: 100%;
}

.chrome-plugin-tiny-text {
	font-size: 10px;
}

.chrome-plugin-alert {
	padding: 5px;
	background: #9dc3e6;
	border: 1px solid #2f5597;
	border-radius: 3px;
}

.chrome-plugin-talent-calculator {
	position: absolute;
	width: 800px;
	height: 800px;
	top: 20px;
	left: 25%;
	background: #fff;
	border-radius: 3px;
	border: 1px solid #000;
	box-shadow: 6px 5px 5px #555;
	z-index: 1000;
}

.chrome-plugin-talent-calculator__menu {
	background: #9dc3e6;
	border-bottom: 1px solid #000;
}
.chrome-plugin-talent-calculator__menu a {
	display: inline-block;
	padding: 5px 10px;
	color: #000;
}
.chrome-plugin-talent-calculator__menu a:hover {
	background: #2f5597;
	color: #000;
}

.chrome-plugin-talent-calculator__main {
	padding: 10px;
}

.chrome-plugin-talent-input {
	width: 60px;
}

.chrome-plugin-talent-btn {
	display: inline-block;
	padding: 2px 4px;
	border: 1px solid #2f5597;
	background: #9dc3e6;
	text-decoration: none;
	color: #000;
	margin-bottom: 5px;
}
.chrome-plugin-talent-btn:hover {
	background: #2f5597;
	text-decoration: underline;
	color: #000;
}

.chrome-plugin-talent-export {
	width: 100%;
	height: 300px;
}

.mb {
	margin-bottom: 10px;
}
.mt {
	margin-top: 10px;
}
.mr {
	margin-right: 10px;
}
.ml {
	margin-left: 10px;
}
.spacer {
	height: 0.75rem;
}
.text-success {
	color: #71b346;
}
.text-error {
	color: #de0002;
}
.text-right {
	text-align: right;
}
