.chrome-plugin-btn {
	display: inline-block;
	padding: 2px 4px;
	border: 1px solid #538234;
	background: #71b346;
	text-decoration: none;
	color: #fff;
	margin-bottom: 5px;
	border-radius: 4px;
}
.chrome-plugin-btn:hover {
	color: #fff;
}

.chrome-plugin-challenger {
	font-size: 10px;
	margin-left: 5px;
}

.chrome-plugin-info-box {
	position: absolute;
	background: #fff;
	padding: 5px;
	border: 1px solid #000;
	border-radius: 3px;
	z-index: 1000;
}

.chrome-plugin-tiny-text {
	font-size: 10px;
}

.chrome-plugin-alert {
	padding: 5px;
	background: #9dc3e6;
	border: 1px solid #2f5597;
	border-radius: 3px;
}

.chrome-plugin-talent-calculator {
	position: absolute;
	width: 800px;
	height: 800px;
	top: 20px;
	left: 25%;
	background: #fff;
	border-radius: 3px;
	border: 1px solid #000;
	box-shadow: 6px 5px 5px #555;
	z-index: 1000;
}

.chrome-plugin-talent-calculator__menu {
	background: #9dc3e6;
	border-bottom: 1px solid #000;
}
.chrome-plugin-talent-calculator__menu a {
	display: inline-block;
	padding: 5px 10px;
	color: #000;
}
.chrome-plugin-talent-calculator__menu a:hover {
	background: #2f5597;
	color: #000;
}

.chrome-plugin-talent-calculator__main {
	padding: 10px;
}

.chrome-plugin-talent-input {
	width: 60px;
}

.chrome-plugin-talent-btn {
	display: inline-block;
	padding: 2px 4px;
	border: 1px solid #2f5597;
	background: #9dc3e6;
	text-decoration: none;
	color: #000;
	margin-bottom: 5px;
}
.chrome-plugin-talent-btn:hover {
	background: #2f5597;
	text-decoration: underline;
	color: #000;
}

.chrome-plugin-talent-export {
	width: 100%;
	height: 300px;
}

.mb {
	margin-bottom: 10px;
}
.mt {
	margin-top: 10px;
}
.mr {
	margin-right: 10px;
}
.ml {
	margin-left: 10px;
}
.text-success {
	color: #71b346;
}
.text-error {
	color: #de0002;
}
